
@{
    ViewData["Title"] = "About";
}

<div class="main-content mt-3">
    <h2>About</h2>
    <p>This is a sample application to demonstrate my approach to building an MVC application that connects to a REST API for data access.</p>
    <p>It's quite barebones but it roughly goes along the lines I would normally use. For example - the API does not have any authentication. Generally
        I would either be using Identity Server or a custom token generation method (normally passed as a bearer token)
    </p>
    <p><em>Andy Pickering</em></p>
</div>

